<div class='container'>
    <h2>Authentication Status</h2>
    <p>The user is authenticated when there is a web session that stores user attributes and a session cookie</p>
    <p class='alert alert-success'>You are authenticated</p>
    <hr/>
</div>
<div class='container'>
    <h2>User Attributes</h2>
    <p>The web application can receive customizable user attributes in a signed assertion and use them for authorization</p>
    <ul class='list-group'>
        <li  class="list-group-item">nameID: <%=model.user.nameID %></li>
        <% for (const key in model.user.attributes) { %>
            <li  class="list-group-item"><%= key %>: <%= model.user.attributes[key] %></li>
        <% } %>
    </ul>
    <hr/>
</div>
<div class='container'>
    <h2>End Web Session</h2>
    <p>The web application can end its session and perform a simple logout</p>
    <a class='btn btn-primary btn-lg' href='/logout'>Sign Out</a>
    <hr/>
</div>
