<div class='container'>
    <h2>Authentication Status</h2>
    <p>The user is unauthenticated when there is no web session and session cookie</p>
    <p class='alert alert-success'>Authentication required</p>
    <hr/>
</div>
<div class='container'>
    <h2>Start Authentication</h2>
    <p>The web application sends a SAML authentication request and uses the Curity Identity Server's authentication features</p>
    <a class='btn btn-primary btn-lg' href='/login'>Sign in</a>
    <hr/>
</div>
