<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SAML 2.0 Web Client</title>
	</head>
	<body>
		<div>
			<h1>SAML 2.0 Web Client</h1>
			<div>
				<p>Run a SAML flow with the Curity Identity Server</p>
				<a class="button" href="/login">Sign in</a>
			</div>
		</div>
	</body>
</html>
